*{   margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
  
    height: 250px;
   background-color: orange;
}
#itens{
    margin-bottom: 100px;
    display: flex;
}
.ul-li{
    margin: 50px;
    list-style-type: none;
    text-transform: capitalize;
}
.ul-li:hover{
text-decoration: underline;
}
ul, a {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
main{
    font-weight: bold;
    color: rgb(221, 172, 27);
   border: solid 3px rgba(11, 1, 56, 0.42);
    padding: 30px;
    height: 500px;
    background-image: url(../imagens/main\ fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main, h1{
    text-shadow: 3px 3px 3px black;
    font-size: 3em;
}
 h2{
   margin-top: 100px;
    padding: 30px;
    font-size: 3em;
}
div{
    font-size: 1.3em;
    background-color: rgb(242, 200, 12);
    padding: 100px;
}

.imagens{
    width: 40%;
}
article{
    line-height: 70px;
}
article, input{
    padding: 30px;
    font-weight: bold;
    font-size: 1.3em;
    background-color: rgb(234, 231, 217);
   
}
.check{
    padding: 200px;
 line-height: 100px;
}

@media screen and (max-width: 830px){
    header{
        padding: 30px;
        height: 50%;
        width: 100%;
        
    }
    .imagens{
        width: 100%;
    }
    #itens{
        display: block;
       text-align: center;
    }
}