*{
    font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
} 
#fundo-header{
    margin-bottom: -10%;
    padding: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  background-image: url(../imagens/header-fundo.webp);
}
body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}


#containe-principal{
    border: solid 2px black;
    line-height: 60px;
    padding: 5%;
    margin-top: -50%;
    margin: auto;
    width: 80%;
    border: 3px black;
    background-color: white; 
}
h1{
    font-size: 3em;
    margin-bottom: 10%;
    color: blueviolet;
   padding: 2%;
}
h2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2.5em;
}
main, p{
    font-size: 1.2em;
}
ul, li{
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
   color: rgb(129, 4, 247);
    
}
#botao-projetos{
    margin-top: 10%;
    background-color: rgba(167, 169, 194, 0.144);
    border: 0;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold; 
    width: 100%;
}
#botao-tema{
    background-color: transparent;
    margin: auto;
    display: block;
    width: 50%;
    cursor: pointer;
    padding: 1px;
    border: 0;
}
#art-projetos{
    margin: auto;
    width: 80%;
    border-radius: 30px;
    padding: 4%;
    background-color: rgb(63, 59, 54);
    margin-top: 10%;
   display: none;
   
    
}
.art-a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}
.card-img{
    width: 30%;
}
div{
    height: 100%;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.419);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.542);
    background-color: rgb(37, 37, 37);
    border: solid 2px black;

}
#card2{
background-color: rgb(52, 51, 51);
}
#card4{
background-color: rgb(52, 51, 51); 
}
img{
    width: 5%;
}
.icone-1{
    margin-right: 100px;
}
footer{
    display: block;
    text-align: center;
    margin-top: 30%;
    padding: 5%;
    background-color: rgb(6, 2, 44);
}
footer, a{
    line-height: 50px;
    color: aliceblue;
    font-weight: bold;
   text-decoration: none;
}
@media  screen and (max-width: 700px){
    #containe-principal{
        width: 70%;
       line-height: 60px;
    }
    .card-img{
        width: 100%;
    }
    div{
        height: 100%;
    }
    footer{
        display: block;
    }
    img{
        width: 10%;
    }
    .icone-1{
     margin-right: 100px;
    }
}