*{ font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    box-shadow: 3px 3px 3px black;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 32, 9);
    padding: 100px;
    margin-bottom: 15%;
}
h1{ color: rgb(5, 95, 35);
    padding: 30px;
    font-size: 3.5em;
    margin-bottom: 15%;
}
body{
    background-color: rgb(159, 167, 164);
    overflow-x: hidden;
    margin-top: -20%;
}
main{ 
    margin: auto;
    width: 80%;
    padding: 30px;
    border: solid 2px black;
    background-color: rgb(4, 64, 64);
   
}
input{
    width: 30%;
    padding: 20px;
    margin: 5%;
    
}
label{
    padding: 10px;
    font-weight: bold;
    background-color: rgb(47, 46, 43);
    color: white;
}
article{
    text-align: center;
    font-size: 2em;
    color: red;
}
.botao{
    border: 0;
    width: 20%;
}
#res{
    margin: auto;
    color: azure;
    background-color: rgb(30, 31, 33);
    width: 50%;
    font-weight: bold;
}
@media  screen and (min-width: 1280px){
    main{
        border: solid 2px black;
        background-color: rgb(4, 64, 64);
        width: 90%;
    }
    
    
    header{
        padding: 200px;
        box-shadow: 3px 3px 3px black;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 32, 9);
    }
    
    input{
        margin: 5%;
        width: 70%;
    }
    article{
       margin-top: 10%;
    }
    .botao{
        border: 0;
        font-weight: bold;
    }
    .botao:hover{
        cursor: pointer;
        transition: 0.5s;
        color: white;
      background-color: black;
    }
}