*{ font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 100px;
}
body{
  
    background-color: rgb(159, 167, 164);
    overflow-x: hidden;
    margin-top: -20%;
}
main{
    margin: auto;
    width: 80%;
    padding: 30px;
    border: solid 2px black;
    background-color: rgb(4, 64, 64);
   
}
input{
    width: 30%;
    padding: 20px;
    margin: 5%;
}
label{
    padding: 10px;
    font-weight: bold;
    background-color: rgb(47, 46, 43);
    color: white;
}
article{
    text-align: center;
    font-size: 2em;
    color: red;
}
.botao{
    width: 20%;
}
#res{
    margin: auto;
    color: azure;
    background-color: rgb(30, 31, 33);
    width: 50%;
    font-weight: bold;
}
@media  screen and (min-width: 1280px){
    main{
        background-color: rgb(111, 133, 133);
        width: 90%;
    }
    input{
        margin: 5%;
        width: 70%;
    }
    .botao{
        border: 0;
        font-weight: bold;
    }
    .botao:hover{
        cursor: pointer;
        transition: 0.5s;
        color: white;
      background-color: black;
    }
}