*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    padding: 100px;
    color: white;
    background-color: rgb(57, 36, 10);
}
main{
  margin: auto;
    width: 100%;
    display: flexbox;
    justify-content: center;
  
  
  

}
#tiles-a{
    background-image: url(../imagens/abertura\ do\ castelo\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 50%;
    border-radius: 20px;
    transition: .6s;
   
}

#tiles-a2{
    background-image: url(../imagens/Jogos-sem-data-de-lancamento-para-2024-1024x576.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 50%;
    border-radius: 20px;
    transition: .6s;
   
   
}
#tiles-a3{
    background-image: url(../imagens/kimetsu\ img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 50%;
    border-radius: 20px;
   

}
#tiles-a4{
    background-image: url(../imagens/fundo-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 50%;
    border-radius: 20px;
}
#tiles-a5{
   background-image: url(../imagens/bolo\ de\ cenoura.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 40%;
    height: 400px;
   margin: auto;
   margin-top: 50%;
    border-radius: 20px;
}

#tiles-a6{
   background-image: url(../imagens/fundo\ natureza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 40%;
    height: 300px;
    margin: auto;
    margin-top: 50%;
    border-radius: 20px;
}
.imagens-tiles{
    width: 30%;

   
}
.fundo-a{
    font-weight: bold;
    color: aliceblue;
   text-shadow: 3px 3px 3px black;
    padding: 2%;
    text-decoration: none;
    font-size: 2em;
}
.botao-passe{
    cursor: pointer;
    margin: auto;
    font-weight: bold;
    font-size: 2em;
    width: 100%;
    display: block;
    background-color: rgb(91, 47, 3);
    color: rgb(247, 247, 247);
    padding: 30px;
}
.hidden{
    display: none;
}

@media screen and (min-width: 1000px){
header{
    margin-bottom: 20%;
    color: white;
    background-color: rgb(57, 36, 10);
}
main{
  display: flex;
padding: 5%;
}
#tiles-a{
  margin-top: 0%;
  margin-left: 10%;
    width: 30%;
    height: 200px;
    transition: .6s;
   border: solid 2px black;
  
}

#tiles-a:hover{  
box-shadow: 3px 3px 3px black;
transition: .6s;
cursor: pointer;

}
#tiles-a2{
   margin: 5%;
   margin-top: 0%;
    width: 30%;
    height: 200px;
    transition: .6s;
}
#tiles-a2:hover{
    box-shadow: 3px 3px 3px black;
    transition: .6s;
    cursor: pointer;
  
}
#tiles-a3{
   margin-right: 25%;
   margin-top: 0%;
    width: 30%;
    height: 200px;  
    transition: .6s;
}
#tiles-a3:hover{
    box-shadow: 3px 3px 3px black;
    transition: .6s;
    cursor: pointer;
     
}
#tiles-a4{
    margin: 5%;
    margin-left: 15%;
    margin-top: 0%;
    width: 30%;
    height: 200px;  
    transition: .6s;  
}
#tiles-a4:hover{
    box-shadow: 3px 3px 3px black;
    transition: .6s;
    cursor: pointer;
    transition: .6s;
}
#tiles-a5{
    width: 40%;
    margin: 5%;
    margin-right: 10%;
    margin-top: 0%;
    height: 200px;  
    transition: .6s;  
}
#tiles-a5:hover{
    box-shadow: 3px 3px 3px black;
    transition: .6s;
    cursor: pointer;  
    transition: .6s;
}
#tiles-a6{
    margin-right: 30%;
    margin-top: 0%;
    width: 30%;
    height: 200px;  
    transition: .6s;  
}
#tiles-a6:hover{
    box-shadow: 3px 3px 3px black;
    transition: .6s;
    cursor: pointer;   
    transition: .6s;
}
.botao-passe{
    cursor: pointer;
    margin: auto;
    font-weight: bold;
    font-size: 2em;
    width: 100%;
    display: block;
    background-color: rgb(91, 47, 3);
    color: rgb(247, 247, 247);
    padding: 30px;
}
.hidden{
    display: none;
}
}