*{
    margin: 0;
    padding: 0;
}
header{
    padding: 100px;
    color: white;
    background-color: rgb(57, 36, 10);
}
main{
    display: flex;
    justify-content: center;
    background-color: rgb(187, 178, 178);
    border: solid 1px rgba(0, 0, 0, 0.447);
}
#tiles-a{
    background-image: url(../imagens/abertura\ do\ castelo\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 15%;
    height: 400px;
    margin: 15px;
    border-radius: 20px;
    transition: .6s;
   
}

#tiles-a2{
    background-image: url(../imagens/Jogos-sem-data-de-lancamento-para-2024-1024x576.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 15%;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    transition: .6s;
   
   
}
#tiles-a3{
    background-image: url(../imagens/kimetsu\ img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 20%;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
   

}
#tiles-a4{
    background-image: url(../imagens/fundo-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 20%;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
}
#tiles-a5{
   background-image: url(../imagens/bolo\ de\ cenoura.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 50%;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
}

#tiles-a6{
   background-image: url(../imagens/icone_anime-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 10%;
    width: 10%;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
}
.imagens-tiles{
    width: 70%;

   
}
.fundo-a{
    font-weight: bold;
    color: aliceblue;
   text-shadow: 3px 3px 3px black;
    padding: 2%;
    text-decoration: none;
    font-size: 2em;
}

@media screen and (min-width: 1000px){
header{
    margin-bottom: 20%;
    color: white;
    background-color: rgb(57, 36, 10);
}
main{
padding: 5%;
}
#tiles-a{
    margin: auto;
    width: 50%;
    height: 150px;
}
#tiles-a:hover{  
box-shadow: 3px 3px 3px black;
transition: .6s;
cursor: pointer;
width: 60%;
}
#tiles-a2{
    margin: left;
    width: 20%;
    height: 200px;
}
#tiles-a2:hover{
    box-shadow: 3px 3px 3px black;
    transition: .6s;
    cursor: pointer;
    width: 30%;
}
#tiles-a3{
    width: 20%;
    height: 200px;  
    transition: .6s;
}
#tiles-a3:hover{
    box-shadow: 3px 3px 3px black;
    transition: .6s;
    cursor: pointer;
    width: 25%;    
}
#tiles-a4{
    width: 20%;
    height: 200px;  
    transition: .6s;  
}
#tiles-a4:hover{
    box-shadow: 3px 3px 3px black;
    transition: .6s;
    cursor: pointer;
    width: 50%;    
    transition: .6s;
}
}