*{  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#div-botao{
    background-color: rgb(209, 173, 11);
  
}
#header-fundo{
   background-image: url(../imagens/pintura-header.jpg);
   width: 100%;
   height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.426);
}
#nav-img, button{
    display: none;
}
nav, ul{
    width: 100%;
   position: fixed;
    background-color: rgb(222, 204, 71);
    display: flex;
    text-align: center;
}
#ol-itens{
    padding: 50px;
    border: solid 1px rgba(0, 0, 0, 0.199);
}
h2{
    
}
.ul-li, a{
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
  list-style-type: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 50px;
}
body{
    width: 100%;
    overflow-x: hidden;
}
input{
    width: 80%;
    padding: 20px;
    background-color: rgb(52, 52, 47);
}
label{
    font-size: 2em;
    font-weight: bold;
}
form{
    margin: auto;
    width: 80%;
    padding: 50px;
    border: solid 2px rgba(0, 0, 0, 0.326);
}
     
.botao{
    border-radius: 30px;
    cursor: pointer;
    width: 30%;
    padding: 5px;
    background-color: rgb(45, 48, 46);
    color: azure;
    font-weight: bold;
    font-size: 1.7em;
    margin-top: 200px;
}
#altura{
    color: rgb(232, 197, 2);
    font-size: 2em;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 0;
}
#largura{
    color: rgb(232, 197, 2);
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 2em;
    border: 0;
}
article{
    margin: auto;
    width: 90%;
    margin-top: -10%;
  background-color: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 20%;
    font-size: 3em;
    color: rgb(0, 0, 0);
}
article, h1{
    line-height: 200px;
    font-size: 4em;
}
article, h2{
    font-size: 2em;
}
article, p{
    line-height: 40px;
    padding: 30px;
    font-size: 1.2em;
}
footer{
    font-weight: bold;
    margin-top: 300px;
    background-color: rgb(188, 116, 28);
    text-align: center;
}
#resultado{
   color: rgb(255, 153, 0);
    font-weight: bold;
    font-size: 2em;
}
#res{
    color: rgb(255, 136, 0);
    font-weight: bold;
    font-size: 2em;
}
@media screen and (max-width: 730px){
#nav-itens{   
    position: fixed;
        display: none;
      
       
    }
    
       
    #header-fundo{
        width: 220%;
    }
    .botao{
        margin: 10px;
    }
    #div-botao, button{
        position: relative;
cursor: pointer;

    }
    #nav-img, button{
        position: fixed;
        background-color: transparent;
        display: block;
        border: 0;
        width: 50px;
    }
    #div-botao{
        padding: 50px;
        width: 220%;
    }
    nav{
        margin: auto;
        position: relative;
        width: 220%;
    }
    
     
    article{
        margin-top: -30%;
        font-size: 1.3em;
        width: 80%;
    }
    form{
        width: 220%;
    }
    footer{
        width: 220%;
    }
}